<section>
    <div class="rev_slider_wrapper">
        <div id="slider1" class="rev_slider" data-version="5.0">
            <ul>
                <li data-transition="fade">
                  <img src="<%= common.assets %>/bridge-timelapse.jpg" 
                       alt="Ocean" 
                       class="rev-slidebg" 
                       data-bgposition="center center"
                       data-bgfit="cover" 
                       data-bgrepeat="no-repeat">
                  
                  <div class="rs-background-video-layer" 
                       data-videomp4="<%= common.assets %>/bridge-timelapse.mp4"
                       data-volume="mute" 
                       data-forcerewind="on"
                       data-nextslideatend="true" 
                       data-videoloop="loopandnoslidestop"
                       data-autoplay="true"
                       data-bgfit="cover"></div>

                    <!-- LAYER NR. 1 -->
                    <div class="tp-caption text-uppercase rev-title" data-x="center" data-hoffset=""
                        data-y="center" data-voffset="['-100','-100','-50','0']" data-whitespace="nowrap"
                        data-transform_idle="o:1;" data-transform_in="o:1;s:1000" data-transform_out="o:0;s:500"
                        data-start="1000">Electro Integrity</div>
                    <!-- LAYER NR. 2 -->
                    <div class="tp-caption text-uppercase text-center rev-subtitle" data-x="center"
                        data-hoffset="" data-y="center" data-voffset="['-45','-45','10','80']"
                        data-transform_idle="o:1;" data-transform_in="o:1;s:1500" data-transform_out="o:0;s:500"
                        data-whitespace="['no-wrap','no-wrap','no-wrap','normal']"
                        data-width="['900','700','600','450']" data-start="1500">Full Service Electrician</div>
                    <!-- LAYER NR. 3 -->
                    <div class="tp-caption tp-resizeme" data-x="center" data-hoffset="-75" data-y="center"
                        data-voffset="['13','13','60','0']" data-whitespace="nowrap"
                        data-transform_idle="o:1;" data-transform_in="o:1;s:2000" data-transform_out="o:0;s:500"
                        data-visibility="['on','on','on','off']" data-start="2000"><a href="/projects" class="btn">Our work</a></div>
                    <!-- LAYER NR. 4 -->
                    <div class="tp-caption tp-resizeme" data-x="center" data-hoffset="75" data-y="center"
                        data-voffset="['13','13','60','0']" data-whitespace="nowrap"
                        data-transform_idle="o:1;" data-transform_in="o:1;s:2000" data-transform_out="o:0;s:500"
                        data-visibility="['on','on','on','off']" data-start="2000"><a href="/contact" class="btn btn-light">Contact us</a></div>

                </li>
                <!-- Slider 1 -->
                <li data-transition="slideright" data-masterspeed="400" data-fstransition="fade">
                    <!-- MAIN IMAGE --><img src="<%= common.assets %>/commercial-slider.jpg" alt=""
                        width="1920" height="1280">
                    <!-- LAYER NR. 1 -->
                    <div class="tp-caption text-uppercase rev-title" data-x="center" data-hoffset=""
                        data-y="center" data-voffset="['-100','-100','-50','0']" data-whitespace="nowrap"
                        data-transform_idle="o:1;" data-transform_in="o:1;s:500" data-transform_out="o:0;s:500"
                        data-start="500" data-paddingright="[0, 0, 0, 10]">Commercial</div>
                    <!-- LAYER NR. 2 -->
                    <div class="tp-caption text-uppercase text-center rev-subtitle" data-x="center"
                        data-hoffset="" data-y="center" data-voffset="['-45','-45','10','80']"
                        data-transform_idle="o:1;" data-transform_in="o:1;s:500" data-transform_out="o:0;s:500"
                        data-whitespace="['no-wrap','no-wrap','no-wrap','normal']"
                        data-width="['900','700','600','450']" data-start="500">Electro Integrity</div>
                    <!-- LAYER NR. 3 -->
                    <div class="tp-caption tp-resizeme" data-x="center" data-hoffset="-75" data-y="center"
                        data-voffset="['13','13','60','0']" data-whitespace="nowrap"
                        data-transform_idle="o:1;" data-transform_in="o:1;s:500" data-transform_out="o:0;s:500"
                        data-visibility="['on','on','on','off']" data-start="500"><a href="/projects" class="btn">Our work</a></div>
                    <!-- LAYER NR. 4 -->
                    <div class="tp-caption tp-resizeme" data-x="center" data-hoffset="75" data-y="center"
                        data-voffset="['13','13','60','0']" data-whitespace="nowrap"
                        data-transform_idle="o:1;" data-transform_in="o:1;s:500" data-transform_out="o:0;s:500"
                        data-visibility="['on','on','on','off']" data-start="500"><a href="/contact" class="btn btn-light">Contact us</a></div>
                </li>
                <!-- Slider 2 -->
                <li data-transition="slideright" data-masterspeed="400" data-fstransition="fade">
                    <!-- MAIN IMAGE --><img src="<%= common.assets %>/residential-slider.jpg" alt=""
                        width="1920" height="1280">
                    <!-- LAYER NR. 1 -->
                    <div class="tp-caption text-uppercase rev-title " data-x="center" data-hoffset=""
                        data-y="center" data-voffset="['-100','-100','-50','0']" data-whitespace="nowrap"
                        data-transform_idle="o:1;" data-transform_in="o:1;s:500" data-transform_out="o:0;s:500"
                        data-start="500">Residential</div>
                    <!-- LAYER NR. 2 -->
                    <div class="tp-caption text-uppercase text-center rev-subtitle" data-x="center"
                        data-hoffset="" data-y="center" data-voffset="['-45','-45','10','80']"
                        data-transform_idle="o:1;" data-transform_in="o:1;s:500" data-transform_out="o:0;s:500"
                        data-whitespace="['no-wrap','no-wrap','no-wrap','normal']"
                        data-width="['900','700','600','450']" data-start="500">Electro Integrity</div>
                    <!-- LAYER NR. 3 -->
                    <div class="tp-caption tp-resizeme" data-x="center" data-hoffset="-75" data-y="center"
                        data-voffset="['13','13','60','0']" data-whitespace="nowrap"
                        data-transform_idle="o:1;" data-transform_in="o:1;s:500" data-transform_out="o:0;s:500"
                        data-visibility="['on','on','on','off']" data-start="500"><a href="/projects" class="btn">Projects</a></div>
                    <!-- LAYER NR. 4 -->
                    <div class="tp-caption tp-resizeme" data-x="center" data-hoffset="75" data-y="center"
                        data-voffset="['13','13','60','0']" data-whitespace="nowrap"
                        data-transform_idle="o:1;" data-transform_in="o:1;s:500" data-transform_out="o:0;s:500"
                        data-visibility="['on','on','on','off']" data-start="500"><a href="/contact" class="btn btn-light">Contact us</a></div>
                </li>
                <!-- Slider 3 -->
                <li data-transition="slideright" data-masterspeed="400">
                    <!-- MAIN IMAGE --><img src="<%= common.assets %>/ev-installs-slider.jpg" alt=""
                        width="1920" height="1280">
                    <!-- LAYER NR. 1 -->
                    <div class="tp-caption text-uppercase rev-title " data-x="center" data-hoffset=""
                        data-y="center" data-voffset="['-100','-100','-50','0']" data-whitespace="nowrap"
                        data-transform_idle="o:1;" data-transform_in="o:1;s:500" data-transform_out="o:0;s:500"
                        data-start="500">EV Installs</div>
                    <!-- LAYER NR. 2 -->
                    <div class="tp-caption text-uppercase text-center rev-subtitle" data-x="center"
                        data-hoffset="" data-y="center" data-voffset="['-45','-45','10','80']"
                        data-transform_idle="o:1;" data-transform_in="o:1;s:500" data-transform_out="o:0;s:500"
                        data-whitespace="['no-wrap','no-wrap','no-wrap','normal']"
                        data-width="['900','700','600','450']" data-start="500">Electro Integrity</div>
                    <!-- LAYER NR. 3 -->
                    <div class="tp-caption tp-resizeme" data-x="center" data-hoffset="-75" data-y="center"
                        data-voffset="['13','13','60','0']" data-whitespace="nowrap"
                        data-transform_idle="o:1;" data-transform_in="o:1;s:500" data-transform_out="o:0;s:500"
                        data-visibility="['on','on','on','off']" data-start="500"><a href="/projects" class="btn">Our work</a></div>
                    <!-- LAYER NR. 4 -->
                    <div class="tp-caption tp-resizeme" data-x="center" data-hoffset="75" data-y="center"
                        data-voffset="['13','13','60','0']" data-whitespace="nowrap"
                        data-transform_idle="o:1;" data-transform_in="o:1;s:500" data-transform_out="o:0;s:500"
                        data-visibility="['on','on','on','off']" data-start="500"><a href="/contact" class="btn btn-light">Learn more</a></div>
                </li>
            </ul>
        </div>
    </div>
</section>
