<footer class="site-footer">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <!-- Image Widget -->
                <div class="widget widget-image">
                    <h3 class="widget-title">About Us</h3> <img src="<%= common.assets %>/logo.png" alt="Logo">                    </div>
                <!-- /Image Widget -->
                <!-- Text Widget -->
                <div class="widget widget-text">
                    <p style="height: 7px;" class="visible-lg visible-md">&nbsp;</p>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis
                        est tellus, venenatis sed nisi in, egestas bibendum sem.
                        Nam tempus dolor quis interdum auctor.</p>
                </div>
                <!-- /Text Widget -->
            </div>
            <div class="col-md-4">
                <!-- Contact Info Widget -->
                <div class="widget widget-contact-info">
                    <h3 class="widget-title">Construction HQ</h3>
                    <ul class="contact-info">
                      <li><i class="fa fa-map-marker"></i> <%= common.address.street %>,
                        <%= common.address.city %>, <%= common.address.state %> <%= common.address.zip %></li>
                      <li><i class="fa fa-phone"></i> <a href="tel:<%= common.phone.src %>" class="important"><%= common.phone.display %></a></li>
                      <li><i class="fa fa-fax"></i> <a href="tel:<%= common.fax.src %>"><%= common.fax.display %></a></li>
                      <li><i class="fa fa-envelope"></i> <a href="mailto:<%= common.email %>"><%= common.email %></a></li>
                    </ul>
                </div>
                <!-- /Contact Info Widget -->
            </div>
            <div class="col-md-4">
                <!-- Text Widget -->
                <div class="widget widget-text">
                    <h3 class="widget-title">Working Hours</h3>
                </div>
                <!-- /Text Widget -->
                <!-- Working Hours Widget -->
                <div class="widget">
                    <table class="working-hours">
                        <tbody>
                            <tr>
                                <th>Monday > Friday:</th>
                                <td>9am > 5pm</td>
                            </tr>
                            <tr>
                                <th>Saturday:</th>
                                <td>9am > 1pm</td>
                            </tr>
                            <tr>
                                <th>Sunday:</th>
                                <td>Closed</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <!-- /Working Hours Widget -->
            </div>
        </div>
    </div>
    <!-- Copyright Footer -->
    <div class="copyright-footer">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <!-- Text Widget -->
                    <div class="widget widget-text">
                        <p>Copyright © <%= new Date().getFullYear() %> Electro Integrity - Website by
                            <a href="http://www.shanebarry.com/" target="_blank">Shane Barry</a></p>
                    </div>
                    <!-- /Text Widget -->
                </div>
                <div class="col-md-6 text-right">
                    <!-- Social Widget -->
                    <div class="widget widget-social">
                        <ul class="social">
                          <li><a href="<%= common.social.yelp %>"><i class="fa fa-yelp"></i></a></li>
                        </ul>
                    </div>
                    <!-- /Social Widget -->
                </div>
            </div>
        </div>
    </div>
    <!-- /Copyright Footer -->
</footer>
